{% extends "layout.html" %}
{% block content %}


<head>
	<title>Agregar Capacitacion </title>
</head>
<h2> Agregar capacitación </h2>
<body style="background-color:#D5DBDB;">
    <script type="text/javascript" src="/static/js/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="/static/js/popper.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <form action="/modifica_capac/{{curp}}" method="POST">  
    <div class="form-group col-md-5">
       <label for="curso">Curso</label>
       <select name="curso" id="curso" class="form-control" required>
            <option value="{{cont.1}}" selected> {{cont.1}} </option>
            {% 
                for cur in cursos
            %}                
                <option value="{{ cur.0 }}">{{ cur.1 }}</option>
            {%   endfor %}
        </select>
    <br>
    <div class=form-row> 
          <div class="form-group col-md-4">
            <input type="text" class="form-control" name="curp" id="curp" value="{{Curp}}" hidden>
            <input type="text" class="form-control" name="id" id="id" value="{{id}}" hidden>
            <label for="fecha_inicio">Fecha de inicio</label>
            <input type="date" class="form-control" name="fecha_inicio" id="fecha_inicio" value="{{cont.2}}" required>
          </div>
        <div class="form-group col-md-4">
            <label for="fecha_fin">Fecha de conclusion</label>
            <input type="date" class="form-control" name="fecha_fin" id="fecha_fin" value={{cont.3}} required>
        </div>
        <div class="form-group col-md-4">
            <label for="estatus">Estatus de capacitacion</label>
            <select name="estatus" id="estatus" class="form-control" value= {{cont.5}} required>
                 <option value="{{cont.4}}" selected>Choose...</option>
                    {%
                         for con in estatus
                    %}
                        <option value="{{ con.0 }}">{{ con.1 }}</option>
                    {%   endfor %}
            </select>
        </div>
    </div>
    <div class=form-row>
        <div class="form-group col-md-8">
            <label for="capacitador">Capacitador</label>
        <input type="text" class="form-control" name="capacitador" id="capacitador" value="{{cont.4}}" >
        </div>
    </div>
    <br>
    <div class=form-row>
    &nbsp;<button type="submit" class="btn btn-primary" style="background:lightseagreen">Enviar</button>
    &nbsp;
    </form>
<a class="btn btn-primary" href="/capacitacion" align="right" style="background:lightseagreen">Cancelar</a>
</body>
{% endblock %}