<!DOCTYPE html>
<html lang="es" >
<head>
  <meta charset="UTF-8">
  <title>HOME-INT</title>
  <link rel="stylesheet" href="/static/css/home_layout.css">
  <script src="https://kit.fontawesome.com/a387a70883.js" crossorigin="anonymous"></script>

</head>
<body>
<!-- partial:index.partial.html -->
<nav class="menu">
  <ol>

    <a href="/"><img src="/static/img/logo_f.png" height="90" width="150"></a>
    <li class="menu-item">
      <a href>Catalogo del sistema</a>
      <ol class="sub-menu">
        <li class="menu-item"><a href="/agr_datos_nivel_academico">Nivel Academico</a></li>
        <li class="menu-item"><a href="/agr_datos_carrera">Carrera</a></li>
        <li class="menu-item"><a href="/agr_datos_idioma">Idioma</a></li>
        <li class="menu-item"><a href="/agr_datos_habilidad">Habilidad</a></li>
        <li class="menu-item"><a href="/agr_datos_area">Area</a></li>
        <li class="menu-item"><a href="/agr_datos_curso">Curso</a></li>
        <li class="menu-item"><a href="/agr_datos_jor">Jornada</a></li>
        <li class="menu-item"><a href="/agr_datos_tipo">Tipo de contrato</a></li>
        <li class="menu-item"><a href="/agr_datos_publicidad">Medio de Publicidad</a></li>
        <li class="menu-item"><a href="/agr_datos_contacto">Contacto</a></li>
        <li class="menu-item"><a href="/agr_datos_empresa">Datos de la Empresa</a></li>
      </ol>
    </li>
    <li class="menu-item">
      <a href="">Procesos de la Empresa</a>
      <ol class="sub-menu">
        <li class="menu-item"><a href="">Puesto</a></li>
        <li class="menu-item"><a href="">Solicitud de personal</a></li>
        <li class="menu-item"><a href="">Autorizacion de Solicitud</a></li>
        <li class="menu-item"><a href="">Publicacion de Ofertas</a></li>
        <li class="menu-item"><a href="">Solicitante</a></li>
        <li class="menu-item"><a href="">Seleccion de Candidatos</a></li>
        <li class="menu-item"><a href="">Calificacion Psicologica</a></li>
        <li class="menu-item"><a href="">Calificacion Medica</a></li>
        <li class="menu-item"><a href="">Calificacion Tecnica</a></li>
        <li class="menu-item"><a href="">Validacion de referencias</a></li>
      </ol>
    </li>
    <li class="menu-item">
      <a href="">Contratacion</a>
      <ol class="sub-menu">
        <li class="menu-item"><a href="/agr_candidato_contratacion">Seleccion</a></li>
        <li class="menu-item"><a href="/empleado">Captura de datos</a></li>
        <li class="menu-item"><a href="/contrato">Contrato</a></li>
        <li class="menu-item"><a href="/capacitacion">Capacitacion</a></li>
      </ol>
    </li>
    <li class="menu-item">
      <a href="">Administracion del Sistema</a>
      <ol class="sub-menu">
        <li class="menu-item"><a href="">Perfiles</a></li>
        <li class="menu-item"><a href="">Usuarios</a></li>
      </ol>
    </li>
    
    <li class="menu-itemlog"><a href=""><i class="fas fa-sign-out-alt"></i></a></li>
  </ol>
</nav>


</body>

{% block content %}
{% endblock %}