{% extends "home_layout.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\static\css\homeformulario.css">
    <script src="https://kit.fontawesome.com/a387a70883.js" crossorigin="anonymous"></script>
    <title>HOME</title>


    <H1 class="titulos_formulario">Agregar Jornada&nbsp;<i class="fas fa-plus"></a></i></H1>
</head>


<body>
    <main>
        <form action="/jor_agr" method="post">
            <div class="formulario__group">
                <label for="nom_area" class="formulario_label">Nombre de jornada&nbsp;<i class="fas fa-pen-square"></i></label>
                    <div class="formulario__group-input">
                        <input type="text" class="formulario__input" name="nom_area" id="nom_area" placeholder="Nombre de la jornada" required>
                        <input type="text" class="formulario__input" name="find" id="find" placeholder="" value="0" hidden>
                        <input type="text" class="formulario__input" name="res" id="res" placeholder="" value=1 hidden>
                    </div>
                    <label for="desc" class="formulario_label">Descripción&nbsp;<i class="fas fa-book"></i></label>
                    <div class="formulario__group-input">
                        <input type="text" class="formulario__input" name="desc" id="desc" placeholder="Descripcion" required>
                    </div>
                    <button type="submit" class="boton" >Agregar&nbsp;<i class="fas fa-plus"></i></button>
                    <a class="boton-2" href="/agr_datos_jor">Regresar&nbsp;<i class="fas fa-arrow-circle-left"></i></a>
                    
            </div>            
        </form>
    </main>
</body>
{% endblock %}