{% extends "home_layout.html" %}

{% block content %}
<head>
	<meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="\static\css\home_tabla.css">
        <script src="https://kit.fontawesome.com/a387a70883.js" crossorigin="anonymous"></script>
        <title>HOME</title>
</head>

<div id="main-container">
  <center><h1 class="titulo_tablas">Solicitudes Registradas</h1></center>
      <table >
        <thead>
          <tr>
              <td >Id Solicitud</td>
              <td >Fecha</td>
              <td >Area</td>
              <td >Puesto</td>
              <td >Vacantes</td>
              <td >Estado</td>
              <td ></td>
          </tr>
              </thead>
                      <tbody class="tbodydif">
                {% for solicitud in solicitudes %}
                  <tr>
                    <td>
                        {{ solicitud.0 }}
                    </td>
                    <td>
                        {{ solicitud.1 }}
                    </td>
                    <td>
                        {{ solicitud.3 }}
                    </td >
                    <td>
                        {{ solicitud.5 }}
                    </td >
                    <td>
                        {{ solicitud.6 }}
                    </td >
                    <td>
                        {{ solicitud.8 }}
                    </td >
                    <td >
                        <center><a href="/sel_candidato_contratacion/{{solicitud.0}}" class="button-10" role="button">Candidatos</a></center>
                    </td>
                {% endfor %}
              </tbody>
                  </tr>
                  
            </table>
          <script type="text/javascript" src="/static/js/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="/static/js/popper.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    </table>
  </div>
</div>
</body>


{% endblock %}

