{% extends "home_layout.html" %}

{% block content %}
<head>
	<meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="\static\css\home_tabla.css">
        <script src="https://kit.fontawesome.com/a387a70883.js" crossorigin="anonymous"></script>
        <title>HOME</title>
</head>
<div id="#main-container">
<center><h1 class="titulo_tablas">Datos de la solicitud</h1></center>

    <table >
        <thead>
        <tr>
            <td >Fecha</td>
            <td >Area</td>
            <td >Puesto</td>
            <td >Vacantes</td>
            <td >Estado</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                {{ sol.1 }}
            </td>
            <td>
                {{ sol.3 }}
            </td>
            <td>
                {{ sol.5 }}
            </td>
            <td>
                {{ sol.6 }}
            </td>
            <td>
                {{ sol.8 }}
            </td>
        </tr>
        </tbody>
    </table>

<br><br><br><br>
<center><h1 class="titulo_tablas">Candidatos Seleccionados</h1></center>

                <table >
                    <thead>
                    <tr>
                        <td >CURP</td>
                        <td >Nombre</td>
                        <td >Nivel Academico</td>
                        <td >Carrera</td>
                        <td >C.Psicoógica</td>
                        <td >C.Medica</td>
                        <td >V.Perfil</td>
                        <td >V.Referencias</td>
                        <td >Contratar</td>
                        <td ></td>
                        <td ></td>
                    </tr>
                    </thead>
                    <tbody class="tbodydif">
                        {% for candidato in can_seleccionados %}
                        <tr>
                            <td>
                                {{ candidato.0 }}
                            </td>
                            <td>
                                {{ candidato.1 }}
                            </td>
                            <td>
                                {{ candidato.4 }}
                            </td>
                            <td>
                                {{ candidato.5 }}
                            </td>
                            <td>
                                <center>{{ candidato.9 }}</center>
                                <a href="/muestra_calf_psicologica/{{ candidato.0 }}/{{ sol.0 }}" class="button-10" >Ver P.S</a>
                            </td>
                            <td>
                                <center>{{ candidato.10 }}</center>
                            </td>
                            <td>
                                <center>{{ candidato.7 }}
                                <a href="/mue_per_candidato/{{candidato.0}}" class="button-10" role="button">Ver C.P</a></center>
                            </td>
                            <td>
                                <center>{{ candidato.11 }}</center>
                            </td>
                            <td>
                                {{ candidato.8 }}
                            </td>
                            <td >
                                <center><a href="/contrata_candidato/{{candidato.6}}/{{candidato.0}}/Si" class="button-10" >Si</a></center>
                            </td>
                            <td >
                                <center><a href="/contrata_candidato/{{candidato.6}}/{{candidato.0}}/No" class="button-10">No</a></center>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

    <br>
    
        <a class="button-10solo" href="/agr_candidato_contratacion" align="center" role="button">Selección</a>
    
    <script type="text/javascript" src="/static/js/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="/static/js/popper.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</div>
</body>

{% endblock %}