{% extends "home_layout.html" %}

{% block content %}
<head>
	<meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="\static\css\home_tabla.css">
        <script src="https://kit.fontawesome.com/a387a70883.js" crossorigin="anonymous"></script>
        <title>HOME-INT</title>
</head>



<div id="main-container">
  <center><h1 class="titulo_tablas">Empleados registrados</h1></center>

            <table >
              <thead>
                <tr>
                    <td >CURP</td>
                    <td >Nombre</td>
                    <td><center><a href="/nvo_empleado" class="bt-agregar">Agregar Empleado <i class="fas fa-plus"></a></i></center>
                      </td>
                    <td ><center><a href="/curp_empleado" class="bt-agregar">Importar empleados <i class="fas fa-people-arrows"> </a></i></center></td>

                </tr>
              </thead>
              <tbody class="tbodydif">
                {% for empleado in empleados %}
                  <tr>
                    <td>
                        {{ empleado.0 }}
                    </td>
                    <td>
                        {{ empleado.1 }}
                    </td >
                      <td>
                      <center><a href="/ed_empleado/{{empleado.0}}" class="button-10" role="button">Editar</a></center>
                    </td>
                    <td >
                        <center><a href="bo_empleado/{{empleado.0}}" class="button-10" role="button">Borrar</a></center>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          <script type="text/javascript" src="/static/js/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="/static/js/popper.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

</div>
</body>


{% endblock %}