{% extends "layout.html" %}

{% block content %}
<body style="background-color:#D5DBDB;">
<link rel="stylesheet" href="\static\css\tabla2.css">
<center><h3>Datos de la solicitud</h3></center>
<table width="100%" border="1" cellpadding="0" cellspacing="0" bordercolor="#000000">
        <tbody>
        <tr>
            <td color="FFFFFF" bgcolor="#465F5A" valign="top">
               <table width="100%" border="1" cellpadding="0" cellspacing="0" bordercolor="#000000">
                    <thead>
                    <tr>
                        <td color="white" bgcolor="006666"><font color="white">Fecha</font></td>
                        <td color="white" bgcolor="006666"><font color="white">Area</font></td>
                        <td color="white" bgcolor="006666"><font color="white">Puesto</font></td>
                        <td color="white" bgcolor="006666"><font color="white">Vacantes</font></td>
                        <td color="white" bgcolor="006666"><font color="white">Estado</font></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            {{ sol.1 }}
                        </td>
                        <td>
                            {{ sol.3 }}
                        </td>
                        <td>
                            {{ sol.5 }}
                        </td>
                        <td>
                            {{ sol.6 }}
                        </td>
                        <td>
                            {{ sol.8 }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <br><br><br><br>
<center><h3>Candidatos Seleccionados</h3></center>
<div id="main-container">
  <table width="100%" border="1" cellpadding="0" cellspacing="0" bordercolor="#000000">
       <tbody>
        <tr>
          <td color="FFFFFF" bgcolor="#465F5A" valign="top">
            <table width="100%" border="1" cellpadding="0" cellspacing="0" bordercolor="#000000">
              <thead>
                <tr>
                    <td color="white" bgcolor="006666"><font color="white">CURP</font></td>
                    <td color="white" bgcolor="006666"><font color="white">Nombre</font></td>
                    <td color="white" bgcolor="006666"><font color="white">Nivel Academico</font></td>
                    <td color="white" bgcolor="006666"><font color="white">Carrera</font></td>
                    <td color="white" bgcolor="006666"><font color="white"></font></td>

                </tr>
              </thead>
              <tbody>
                {% for can_seleccionado in can_seleccionados %}
                  <tr>
                    <td>
                        {{ can_seleccionado.0 }}
                    </td>
                    <td>
                        {{ can_seleccionado.1 }}
                    </td>
                    <td>
                        {{ can_seleccionado.4 }}
                    </td>
                    <td>
                        {{ can_seleccionado.5 }}
                    </td>
                    <td  bgcolor="#BFBFBF" width="60">
                        <center><a href="/bo_sol_candidato/{{can_seleccionado.0}}/{{solicitud}}" class="btn btn-success" style="background:lightseagreen">Borrar</a></center>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <br><br><br><br>
    <center><h3>Posibles Candidatos</h3></center>
      <table width="100%" border="1" cellpadding="0" cellspacing="0" bordercolor="#000000">
       <tbody>
        <tr>
          <td color="FFFFFF" bgcolor="#465F5A" valign="top">
            <table width="100%" border="1" cellpadding="0" cellspacing="0" bordercolor="#000000">
              <thead>
                <tr>
                    <td color="white" bgcolor="006666"><font color="white">CURP</font></td>
                    <td color="white" bgcolor="006666"><font color="white">Nombre</font></td>
                    <td color="white" bgcolor="006666"><font color="white">Nivel Academico</font></td>
                    <td color="white" bgcolor="006666"><font color="white">Carrera</font></td>
                    <td color="white" bgcolor="006666"><font color="white"></font></td>
                    <td color="white" bgcolor="006666"><font color="white"></font></td>

                </tr>
              </thead>
              <tbody>
                {% for candidato in candidatos %}
                  <tr>
                    <td>
                        {{ candidato.0 }}
                    </td>
                    <td>
                        {{ candidato.1 }}
                    </td >
                    <td>
                        {{ candidato.4 }}
                    </td >
                    <td>
                        {{ candidato.5 }}
                    </td >
                      
                      <td bgcolor="#9C9C9C" width="60">
                      <center><a href="/ed_candidato2/{{candidato.0}}" class="btn btn-success" style="background:lightseagreen">Perfil</a></center>
                    </td>
                    <td  bgcolor="#BFBFBF" width="60">
                        <center><a href="/ins_candidato/{{candidato.0}}/{{solicitud}}/Pendiente" class="btn btn-success" style="background:lightseagreen">Seleccionar</a></center>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
          <script type="text/javascript" src="/static/js/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="/static/js/popper.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    
    </table>
    <center>
      <br><br>
      <a class="btn btn-primary" href="/agr_sel_candidato" align="right" style="background:lightseagreen">Solicitudes</a>
      <br><br>
    </center>
    
    
</div>
</body>


{% endblock %}