{% extends "home_layout.html" %}
{% block content %}
<head>
	<meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="\static\css\home_tabla.css">
        <script src="https://kit.fontawesome.com/a387a70883.js" crossorigin="anonymous"></script>
        <title>HOME</title>
</head>
<body>
	<div id="main-container">
		<center><H1 class="titulo_tablas">Cursos Registrados</H1></center>
		<table>
			<thead>
				<tr>
          <td><i class="fas fa-pen-square"></i> Nombre del curso</td>
          <td >Descripción del curso</td>
          <td></td>
          <td ><a href="/curso" class="bt-agregar"><i class="fas fa-plus"></a></i></td>
          
        </tr>
			</thead>
			<tbody>
                {% for curso in cursos %}
                  <tr>
                    <td>
                      {{ curso.1 }}
                    </td>
                    <td>
                      {{ curso.2 }}
                    </td>
                    <td>
                      <center><a href="/ed_curso/{{curso.0}}" class="boton-editar">Editar&nbsp;<i class="far fa-edit"></i></a></center></td>
                    </td>
                    <td>
                      <center><a href="/bo_curso/{{curso.0}}" class="boton-eliminar">Eliminar&nbsp;<i class="fas fa-trash-alt"></i></a></center></td>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
		</table>
	</div>
</body>
{% endblock %}

