{% extends "home_layout.html" %}
{% block content %}
<head>
	<meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="home_tabla.css">
        <script src="https://kit.fontawesome.com/a387a70883.js" crossorigin="anonymous"></script>
        <title>HOME</title>
</head>
<body>
	<div id="main-container">
		<center><H1 class="titulo_tablas">Solicitudes Registradas para la Calificacion Psicologica</H1></center>	
		<table>
			<thead>
				<tr>
					<th>Id Solicitud</th><th>Fecha</th><th>Area</th><th>Puesto</th><th class="th-plus"></th>
				</tr>
			</thead>

            <tr>
				<td class="titulo_tablas">Prueba</td><td class="titulo_tablas">Prueba</td><td class="titulo_tablas">Prueba</td><td class="titulo_tablas">Prueba</td>
                <td><center><a href="" class="boton-editar">Candidatos</a></center></td>
			</tr>

            <tr>
                <td class="titulo_tablas">Prueba</td><td class="titulo_tablas">Prueba</td><td class="titulo_tablas">Prueba</td><td class="titulo_tablas">Prueba</td>
                <td><center><a href="" class="boton-editar">Candidatos</a></center></td>
			</tr>			
            
		</table>
	</div>
</body>
{% endblock %}