{% extends "home_layout.html" %}
{% block content %}
<head>
	<meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="\static\css\home_tabla.css">
        <script src="https://kit.fontawesome.com/a387a70883.js" crossorigin="anonymous"></script>
        <title>HOME</title>
</head>
<body>
	<div id="main-container">
		<center><H1 class="titulo_tablas">Datos de la Empresa</H1></center>
		<table>
			<thead>
				<tr>
					<td>Empresa&nbsp;<i class="fas fa-book"></i></td>
					<th></th></a></i></th>
				</tr>
			</thead>
			<tbody>
                {% for nivel in niveles %}
                  <tr>
                    <td>
                      {{ nivel.0 }}
                    </td>
					<td>
                      <center><a href="/ed_datos_empresa/{{nivel.0}}" class="boton-editar">Editar&nbsp;<i class="far fa-edit"></i></i></a></center></td>
                    </td>

                  </tr>
                {% endfor %}
              </tbody>
		</table>
	</div>
</body>
{% endblock %}

