{% extends "layout.html" %}

{% block content %}
<body style="background-color:#D5DBDB;">
<link rel="stylesheet" href="\static\css\tabla2.css">
<script src="https://kit.fontawesome.com/c8a4eef53d.js" crossorigin="anonymous"></script>
<a href="/tipo_contrato" class="btn btn-success" style="background:lightseagreen">Agregar tipo de contrato</a>
<center><h3>Tipo de contrato</h3></center>
<div id="main-container">
      <table width="100%" border="1" cellpadding="0" cellspacing="0">
        <tr>
          <td color="FFFFFF" bgcolor="#465F5A" valign="top">
            <table width="100%" border="1" cellpadding="0" cellspacing="0">
              <thead>
                <tr>
                    <td color="white" bgcolor="006666"><font color="white">Descripción</font></td>
                    <td color="white" bgcolor="006666"><font color="white"></font></td>
                    <td color="white" bgcolor="006666"><font color="white"></font></td>
              </thead>
              <tbody>
                {% for tipos in tipo %}
                  <tr>
                    <td>
                      {{ tipos.1 }}
                    </td>
                    <td bgcolor="#9C9C9C" width="60">
                      <center><a href="/ed_tipo/{{tipos.0}}" class="btn btn-success" style="background:lightseagreen">Editar &nbsp;<i class="far fa-edit"></i></a></center>
                    </td>
                    <td  bgcolor="#BFBFBF" width="60">
                        <center><a href="/bo_tipo/{{tipos.0}}" class="btn btn-success" style="background:lightseagreen">Borrar &nbsp;<i class="fas fa-trash-alt"></i></a></center>
                    </td>

                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>

          <script type="text/javascript" src="/static/js/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="/static/js/popper.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    </table>
</div>
</body>



{% endblock %}